# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated outputs
*.html
reports/*.png
reports/*.jpg
reports/*.csv

# Secrets
.env
.env.*
